<p>
  flight-profile works!
</p>

<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="callsign">
      <mat-header-cell *matHeaderCellDef mat-sort-header> callsign </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.callsign}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="squawk">
      <mat-header-cell *matHeaderCellDef mat-sort-header> squawk </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.squawk}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="firstEnrDistance">
      <mat-header-cell *matHeaderCellDef mat-sort-header> firstEnrDistance </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.firstEnrDistance}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="ShowDetail(row)"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>


