<h4 class="display-4">Create Group Profile
    <span class="fa-stack" aria-hidden="true" title="Create Group-Profile that used for benchmark.">
    <i class="fa fa-info-circle fa-xs"></i>
</span>
</h4>
<div class="card">
    <div class="card-body">
        <div class="row ">
            <div class="col-md">
                <mat-form-field>
                    <input matInput  [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="startDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                 </mat-form-field>
            </div>
            <div class="col-md">
                <mat-form-field>
                    <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker1" placeholder="Choose a date" [(ngModel)]="endingDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
                        <!-- <div class="col-md">
                            <div class="row">
                                    <form   [formGroup]="airportsFormGroup" >
                                         <div  *ngFor="let airport of airports; let i = index" class="form-check form-check-inline">
                                                
                                            <mat-checkbox (change)="onChange($event)" [value]="airport">{{airport}}</mat-checkbox>
                                                
                                        </div>
                                    </form>
                            </div>
                                
                        </div> -->
            <div class="col-md">
                <button type="button" class="btn btn-outline-primary btn-lg" (click)="searchFlight()">Search</button>
            </div>
            <div class="col-md">
                <div class="float-right">
                    <button type="button" class="btn btn-info btn-lg" routerLink="/groupProfile" title="Link for Select Active Benchmark">
                        <i class="far fa-edit"> Edit</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row " >
    <!-- <div class="col-md" *ngFor="let item of selectedAirports" >
        <button type="button" class="btn btn-outline-primary btn-lg" (click)="sendDataToTable(item)">{{item.arrival}}</button>
    </div> -->
    <div class="btn-group mr-2" role="group" aria-label="First group" *ngFor="let item of selectedAirports" style="margin:5px;">
        <button type="button" class="btn btn-outline-primary btn-lg" (click)="sendDataToTable(item)">{{item.arrival}}</button>
    </div>
</div>

<div class="row" *ngIf="dataSelectArrival">
        
    <div class="col-md">
        <b>Arrival :</b><p>{{dataSelectArrival}}</p>
        <b>From Date :</b><p>{{startDate| date}}</p>
        <b>To Date :</b><p>{{endingDate| date}}</p>
    </div>
    
</div>
<hr>

<app-terminal-table [dataTable]="dataSelectedTable" [strtTime]="startDateSelected" [endingTime]="endingDateSelected"></app-terminal-table>


<mat-accordion class="example-headers-align" *ngIf="dataSelectArrival" >
        <mat-expansion-panel [expanded]="panelOpenState" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Save This Profile</b>
            </mat-panel-title>
            <mat-panel-description>
                Click Here!
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <mat-form-field>
            <input matInput placeholder="Name of Profile" [(ngModel)]="ProfileName">
          </mat-form-field>
          <div class="row">
            <button type="button" class="btn btn-outline-success btn-lg" (click)="saveData(ProfileName)" [disabled]="!ProfileName">Save</button>
          </div>
         
        </mat-expansion-panel>
</mat-accordion>
      